<head>
  <title>Misinfo | Uncovering Fake News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="canonical" href="index.html" />
  <link type="image/x-icon" rel="icon" href="img/favicon.ico" />
  <link rel="image_src" href="http://tonytechnica.com/cfa_images/Thumb-0.jpg" />

  <!-- for Google -->
  <meta name="description" content="Uncovering Fake News" />
  <meta name="keywords" content="Africa, misinfo, fake, news, information, Kenya, Somalia, South Sudan, Zimbabwe, Nigeria" />
  <meta name="author" content="Code For Africa" />

  <!-- for Facebook -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Misinfo" />
  <meta property="og:description" content="Uncovering Fake News" />
  <meta property="og:image" content="http://tonytechnica.com/cfa_images/Thumb-0.jpg" />
  <meta property="og:url" content="index.html" />

  <!-- for Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@AfricanCIR">
  <meta name="twitter:creator" content="@AfricanCIR">
  <meta property="twitter:title" content="Misinfo">
  <meta property="twitter:description" content="Uncovering Fake News">
  <meta property="twitter:image" content="http://tonytechnica.com/cfa_images/Thumb-0.jpg">
  <meta name="twitter:url" content="index.html" />
  <meta name="DISPLAYDATE" content="October 4, 2017" />
  <meta itemprop="dateModified" content="2017-10-04" />
  <meta itemprop="datePublished" content="2017-10-04" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,600,700&amp;subset=latin-ext" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css" />
  <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />

  <style type="text/css">
    .share-fb {
      background-image: url(img/social-facebook.png);
    }

    .share-tw {
      background-image: url(img/social-twitter.png);
    }
  </style>

  <script type="text/javascript">
    setTimeout(function() {
      var a = document.createElement("script");
      var b = document.getElementsByTagName("script")[0];
      a.src = document.location.protocol + "//script.crazyegg.com/pages/scripts/0026/0255.js?" + Math.floor(new Date().getTime() / 3600000);
      a.async = true;
      a.type = "text/javascript";
      b.parentNode.insertBefore(a, b)
    }, 1);
  </script>

</head>
