  <!--FOOTER-->
  <a name="contact" class="anchorlink"></a>
  <div class="wrapper-low-footer">
    <div class="container">
      <div class='row'>
        <div id="low-footer-pad" class='col-sm-4'>
          <a href="https://codeforafrica.github.io/fakenews-microsite/">
            <img class="img-responsive" src="../../../img/ANCIR-Logo.png">
          </a>
        </div>
        <div class="hider">
          <div id="low-footer-pad" class='col-sm-4'>
            <div class="center_">
              <h3>Social Links</h3>
              <div class="icon-align">
              <a href="https://www.facebook.com/AfricaInvestigated/">
                <img class="img-responsive" src="../../../img/footer-fb-icon.png">
              </a>
              <a href="https://twitter.com/AfricanCIR">
                <img class="img-responsive" src="../../../img/footer-tw-icon.png">
              </a>
              <a href="mailto:info@investigativecenters.org">
                <img class="img-responsive" src="../../../img/footer-mail-icon.png">
              </a>
            </div>
            </div>
          </div>
          <div id="low-footer-pad" class='col-sm-4'>
            <div class="">
              <h3>Contact Us</h3>
              <p><a href="mailto:info@investigativecenters.org">info@investigativecenters.org</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="../../../js/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="../../../js/parallax.js"></script>
  <script src="../../../js/wNumb.js"></script>
  <script src="../../../js/nouislider.min.js"></script>
  <script src="../../../js/jquery.fancybox.min.js"></script>
  <script src="../../../js/scripts.js"></script>
  <script src="../../../js/loadposts.js"></script>
  <script src="../../../js/softscroll.js" type="text/javascript"></script>