<!doctype html>
<html lang="en">

 {% include head.html %}

<body>

  <script type="text/javascript">
    var utag_data = {
      entity: "ANCIR",
      language: "english",
      language_service: "CFA English",
      short_language_service: "ENG",
      property_id: "600",
      platform: "Responsive",
      platform_short: "R",
      runs_js: "Yes",
      section: "Special Projects",
      english_section: "special-projects",
      page_title: "Misinfo",
      page_type: "interactive",
      page_name: "Misinfo",
      short_headline: "Misinfo",
      long_headline: "Misinfo|Uncovering fake news",
      headline: "Misinfo",
      content_type: "interactive",
      pub_year: "2017",
      pub_month: "10",
      pub_day: "04",
      pub_weekday: "W",
      byline: "Code For Africa",
      slug: "misinfo-africa"
    }
  </script>

  <script type="text/javascript">
    (function(a, b, c, d) {
      a = '//tags.tiqcdn.com/utag/bbg/voa-nonpangea/prod/utag.js';
      b = document;
      c = 'script';
      d = b.createElement(c);
      d.src = a;
      d.type = 'text/java' + c;
      d.async = true;
      a = b.getElementsByTagName(c)[0];
      a.parentNode.insertBefore(d, a);
    })();
  </script>

  <script>
    // quickfix to provide parallax image to js/scripts.js as global var
    var px_title_image = "img/Landing-Page-Banner-Image.jpg";
  </script>

  <nav class="masthead navbar-fixed-top">
    <div class="masthead-inner">
      <div class="logo">
        <a href="index.html" title="Return to homepage">
          <img alt="CFA" src="img/ANCIR-Logo-small.png" width="135" height="55">
        </a>
        <a href="index.html" title="" class="hideable1">
          <h1></h1>
        </a>
        <h6>Menu</h6>
        <a class="main-nav" href="#stories">Stories</a>
        <a class="main-nav" href="#data">Data &amp; Graphics</a>
        <a class="main-nav" href="#contact">Get In Touch</a>
      </div>
      <div class="share-options">
        <ul>
          <li><a title="Share on Twitter" href="https://twitter.com/AfricanCIR" class="share-tw"><span class="scr">Share on Twitter</span></a></li>
          <li><a title="Share on Facebook" href="https://www.facebook.com/AfricaInvestigated/" class="share-fb"><span class="scr">Share on Facebook</span></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="parallax-window-1" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <header>
            <img src="img/Misinfo-Logo-copy.png" width="746.6" height="172.6">
            <h2></h2>
          </header>
        </div>
      </div>
    </div>
  </div>

  <a name="stories" class="anchorlink"></a>
  <div class='site-nav'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <nav>
            <h6>Menu</h6>
            <a href="#" style="opacity: 1;">
              <span>News Updates</span>
            </a>
            <a href="#" style="opacity: 1;">
              <span>Affected Countries</span>
            </a>
            <a href='#' style="opacity: 1;">
              <span>Data & Graphics</span>
            </a>
            <a href="#" style="opacity: 1;">
              <span>Meet the Team</span>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- STORIES -->
  <div class="container">
    <div class="col-sm-12">
      <header id="news-articker">
        <h3>STORIES</h3>
      </header>
    </div>
    <div id="news" class="row">
      <!--LOADING FEATURED SHEET-->
    </div>
  </div>

  <!--VIDEO-->
  <div class='container' id="news-ticker-pad">
    <div class='row'>
      <div class="col-sm-12">
        <div class="video-container">
          <video width="505" height="260" poster="img/placeholder.png" controls>
            <source src="video/gupta_fake_news.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>

  <!--LOADING MAP-->
  <a name="data" class="anchorlink"></a>
  <div id='mapping-the-threat' class='wrapper-map'>
    <div class="row">
      <div class="col-sm-12">
        <header class="pad-data" id="news-articker">
          <h3>DATA &amp; GRAPHICS</h3>
        </header>
      </div>
      <div class="col-sm-12" id='pad-data'>
        <div class="top-tory">
          <img class="img-responsive" src="img/Bubble Chart 2@2x.png">
          <header id="news-articker">
            <p>The fake news network’s strategy centred on a stable of Facebook pages through which content is published and shared.</p>
          </header>
          <img class="img-responsive" src="img/Image 4alt@2x.png">
          <header id="news-articker">
            <p>The Radical Economic Transformation network coined several hashtags to reframe national discourse. This summarises the top 20 most used hashtags within the Twitter dataset collected.</p>
          </header>
          <img class="img-responsive" src="img/Image_7@2x.png">
          <header id="news-articker">
            <p>Fake news sites shared content on their Facebook pages to increase the spread of misinformation. It used fake accounts to artificially boost engagement on the content, just as it did on Twitter.</p>
          </header>
          <img class="img-responsive" src="img/TreeMap 2@2x.png">
          <header id="news-articker">
            <p>The network’s Facebook pages promoted its messages and a collection of fake users to amplify them and give users the impression that real people are engaging in a real conversation.</p>
          </header>
          <img class="img-responsive" src="img/Image 6@2x.png">
          <header id="news-articker">
            <p>A summary of the relative size and importance of each topic within the top 100 hashtags based on how often the hashtags occurred in the data.</p>
          </header>
        </div>
      </div>
    </div>
  </div>
  <!--END MAP-->

  <!--FUNDERS -->
  <a name="funders" class="anchorlink"></a>
  <div id="pad-funders" class="container">
    <div class="col-sm-12">
      <header id="news-articker">
        <h3 class="funders-uncap">This project was supported by</h3>
      </header>
    </div>
    <div class="hider">
      <div id="pad-me" class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-3 col-sm-offset-2">
              <img class="img-responsive country" src="img/icfj-logo.png" href="http://www.icfj.org/">
            </div>
            <div class="col-sm-3">
              <img class="img-responsive country" src="img/cfa-logo.png" href="https://codeforafrica.org/">
            </div>
            <div class="col-sm-3">
              <img class="img-responsive country" src="img/wbank-logo.png" href="http://www.worldbank.org/">
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

    <!-- MOBILE FUNDERS -->
    <div class="hider_1">
      <div id="pad-me" class="row">
        <div class="col-sm-12">
          <img class="img-responsive country" src="img/icfj-logo.png" href="http://www.icfj.org/">
          <img class="img-responsive country" src="img/cfa-logo.png" href="https://codeforafrica.org/">
          <img class="img-responsive country" src="img/wbank-logo.png" href="http://www.worldbank.org/">
        </div>
      </div>
    </div>
  </div>

 
 {% include footer.html %}
</body>

</html>